<html>
<head>
  <title>{{title}}</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <header>
    <h1>{{title}}</h1>
  </header>

  <section>
{{{body}}}
  </section>

  <aside>
    <ul>
      <li><a href="/test/">Test</a></li>
      <li><a href="/">Page1</a></li>
      <li><a href="/page2">Page2</a></li>
    </ul>
  </aside>

  <footer>&copy; 2012 David Konsumer</footer>

</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="../static/pollyfill.array.js"></script>
  <script src="../static/site.js" />
</html>
